
/**{outline: 1px solid rgba(255,0,0,0.5);}**/

/*menu*/
a{
	text-decoration: none;
}
img{
	width: 100%;
}
.row{
	margin: 0;
}
.margin{
	height: 108px;
	width: 100%;
	background-color: #F5F5F5;
}
.header{
	position: fixed;
	text-align: center;
	width: 100%;
	background-color:#F5F5F5;
	opacity: 0.9;
	z-index: 1000;
}
.header h1{
	text-align: center;
	margin: 10px;
}
.menu{
	text-align: center;
	padding: 0;
	margin: 10px;
}
#tit_menu{
	color: #10224D;
}
.menu li{
    display: inline-block;
}
.menu a{
	display: block;
	padding: 10px 20px;
	color:#939696;
	text-transform: uppercase;
}
.menu a:hover{
	transform: scale(1.2);
	background: url(../img/border.jpg) top;
	background-size: 100% 100%;
}

/*menu*/
.centrado{
	text-align: center;
	padding: 5% 0%; 
}
.mar_bot{
	
	padding: 0% 0% 8%;
}
#fond_item{
	background-color: #E7EAEB;
}

.fondo_col{
	background-color: #D3D6D7;
}
.mar_1
{
	margin: 1% 0% 2%;
	color:#ADADAD;
}
.tama_ver{
	padding: 2% 13%;
	margin: 2% 0%;
}
.tama_ver:hover{
    transform: scale(1.2);
}
.sti_blog{
	margin: 2% 0%;
}
.spa_row{
	margin: 5% 0%;
}
.conte_img{
	width: 100%;
}
.qit_esp {
	margin: 0%;
	padding:  0%;
}
#uno_imag{
	background: url(../img/blog1.jpg);
	background-size: cover;
	padding:0%;
	height: 212px;
}
#dos_imag{
	background: url(../img/profesor_5.jpg);
	background-size: cover;
	padding:0%;
	height: 212px;
}
#tres_imag{
	background: url(../img/instructor_1.jpg);
	background-size: cover;
	padding:0%;
	height: 212px;
}
/*formulario*/
.formulario{
	background: url(../img/shoes_1.jpg) right no-repeat;
}
.blue{
	background: #10224D;
	color: white;
}
#enviar{
	padding: 2% 18%;
	margin: 2% 0%;
}
#enviar:hover{
	background:white;
	color:#10224D;
	font-size:18px;
	font-family: "Neoteric-Bold";
}
#contact{
	margin: 5% 0%;
	font-family: sans-serif;
}
form > p{
	margin: 2% 0%;
}

input{
	border:none;
	width: 94%;
}
.cuad_form{
	border: 1px solid #10224D;
	width: 40%;
}

.inf{
	border: 1px solid #10224D;
	width: 40%;
}
textarea{
	border:none;
	margin-left: 5%;
    margin-top: -5%;
}

/*formulario*/
footer{
	padding: 2% 0% 1%;
}

