
*{outline: 1px solid rgba(255,0,0,0.5);}*
.centrado{
	text-align: center;
}
img{
	width: 100%;
}
.fondo{

	background: url("../img/old_wall.png")
}
.x{
	margin: 5% 0% 5% 0%;
	padding: 0;
}

.cuadroazul{
	background-color: #CFD5D7;
	margin: 5% 5% 5% 0%;
	width: 50%;
	height: 200px;
	color: black;
}
.imagen{
	width: 330px;
}