/* Inserta tu codigo aqui */

/**{outline: 1px solid rgba(255,0,0,0.5);}**/
.row{
	margin: 0;
}
.container{
margin-top: 5%;
}
.container h4{
	font-family: "DolceVita";
}
.centrado{
	text-align: center;
}
.fondo{
	background: url("../img/old_wall.png")
}
.danza{
	width: 100%;
	height: 312px;
	object-fit: cover;
	vertical-align: top;
}
.generos{
	width: 250px;
	margin: 5% 0% 3% 5%;
	display: inline-block;
	height: 312px;
	vertical-align: top;
}
.cuadroplomo{
	position: relative;
	top: -171px;
	background-color:rgb(0,0,0);
   	opacity:0.6; 
   	width:200px;
   	text-align: center;
   	margin-left: 10%;
   	padding: 8px;
}
.blanco{
	color: white;
	margin-top: 5%;
}
/*menu*/
a{
	text-decoration: none;
}
.margin{
	height: 108px;
	width: 100%;
	background-color: #F5F5F5;
}
.header{
	position: fixed;
	text-align: center;
	width: 100%;
	background-color:#F5F5F5;
	opacity: 0.9;
	z-index: 1000;
}
.header h1{
	text-align: center;
	margin: 10px;
}
.menu{
	text-align: center;
	padding: 0;
	margin: 10px;
}
#tit_menu{
	color: #10224D;
}
.menu li{
    display: inline-block;
}
.menu a{
	display: block;
	padding: 10px 20px;
	color:#939696;
	text-transform: uppercase;
}
.menu a:hover{
	transform: scale(1.2);
	background: url(../img/border.jpg) top;
	background-size: 100% 100%;
}
/*menu*/
/*formulario*/
.formulario{
	background: url(../img/shoes_1.jpg) right no-repeat;
}
.blue{
	background: #10224D;
	color: white;
}
#enviar{
	padding: 2% 18%;
	margin: 2% 0%;
}
#enviar:hover{
	background:white;
	color:#10224D;
	font-size:18px;
	font-family: "Neoteric-Bold";
}
#contact{
	margin: 5% 0%;
	font-family: sans-serif;
}
form > p{
	margin: 2% 0%;
}
input{
	border:none;
}
.cuad_form{
	border: 1px solid #10224D;
	width: 40%;
}
.inf{
	border: 1px solid #10224D;
	width: 40%;
}
textarea{
	border:none;
	margin-left: 5%;
    margin-top: -5%;
}

/*formulario*/
footer{
	padding: 2% 0% 1%;
}