/**{
	outline: 2px solid gray;
}*/
*{
	outline:1px solid rgba(255,0,0,0.3);
}
a{
	text-decoration: none;
}
.header{
	position: fixed;
	text-align: center;
	width: 100%;
	background-color:#F5F5F5;
	opacity: 0.9;
	z-index: 1000;
}
.header h1{
	text-align: center;
	margin: 10px;
}
.menu{
	text-align: center;
	padding: 0;
	margin: 10px;
}
.menu li{
    display: inline-block;
}
.menu a{
	display: block;
	padding: 10px 20px;
	color:#939696;
	text-transform: uppercase;
}
.menu a:hover{
	transform: scale(1.2);
	background: url(../img/border.jpg) top;
	background-size: 100% 100%;
}
/*menu*/
.margin{
	width: 100%;
	background-color:#F5F5F5;
	height: 110px;
	display: block;

}
.descripcion{
	z-index: 1000;
	position: absolute;
	background: rgba(255, 255, 255, 0.1);
	width: 15%;
	color: #F0F0F0;
	margin-top: 100px;
	margin-left: 150px;
	padding: 20px
}
.a{
	background: #1A3573;
	border:none;
	padding: 10px;
}	
.a a{
	color:white;
}
.a a:hover{
	transform: scale(1.2);
	color:white;
}
#carousel-example-generic, .carousel-inner{
	height: 450px;
}
/*mapa*/

.row{
	margin: 0%;
}
.blue_mapa{
	background: #192F77;
	color: white;
}
.font-15{
	font-size: 15px;
}
.espacio_pd {
	padding: 5%;
}
/*formulario*/
.formulario{
	background: url(../img/shoes_1.jpg) right no-repeat;
}
.blue{
	background: #192F77;
	color: white;
}
#enviar{
	padding: 2% 18%;
	margin: 2% 0%;
}
#contact{
	margin: 5% 0%;
	font-family: sans-serif;
}
form > p{
	margin: 2% 0%;
}

input{
	border:none;
}
.cuad_form{
	border: 1px solid #192F77;
	width: 40%;
}

.inf{
	border: 1px solid #192F77;
	width: 40%;
}
textarea{
	border:none;
	margin-left: 5%;
    margin-top: -5%;
}

/*formulario*/
footer{
	padding: 2% 0% 1%;
}