/*
*{
	outline:1px solid rgba(255,0,0,0.3);
}*/
a {
	color:white;
}
.header{
	position: fixed;
	text-align: center;
	width: 100%;
	background-color:#F5F5F5;
	opacity: 0.9;
	z-index: 1000;
}
.header h1{
	text-align: center;
	margin: 10px;
	font-weight: bold;
}
.menu{
	text-align: center;
	padding: 0;
	margin: 10px;
}
#tit_menu{
	color: #192F77;
}
.menu li{
    display: inline-block;
}
.menu a{
	display: block;
	padding: 10px 20px;
	color:#939696;
	text-transform: uppercase;
}
.menu a:hover{
	transform: scale(1.2);
	background: url(../img/border.jpg) top;
	background-size: 100% 100%;
	text-decoration: none;
}
/*menu*/
.margin{
	width: 100%;
	background-color:#F5F5F5;
	height: 110px;
	display: block;

}
.descripcion{
	z-index: 100;
	position: absolute;
	background: rgba(255, 255, 255, 0.1);
	width: 18%;
	color: #F0F0F0;
	margin-top: 100px;
	margin-left: 150px;
	padding: 20px
}
.boton-blue{
	background: #10224D;
	border:none;
	padding: 17px 70px;
    border-radius: 10%;
    margin: auto; 
    display: block;
    margin: auto;
    color: white;
    position: relative;
}
.frase{
	font-size: 18px;
}
.boton-blue a{
	color:white;
}
.boton-blue a:hover{
	color:white;
	text-decoration: none;
}
.boton-blue:hover{
    transform: scale(1.2);
}
#carousel-example-generic, .carousel-inner{
	height: 450px;
}
.oferta{
	background: url("../img/textura_2.jpg");
	padding: 60px 30px;
}
.font-40{
	font-size: 40px;
	margin: 4% 0%;
	font-family: "DolceVita";
}
.oferta h3{
	text-align: center;
	padding: 12px 300px;
	
}
.oferta img{
	width: 10%;
	display:block;
	margin:0 auto;
}
.medium{
   display: block;
   margin:  10px auto;
   padding: 10px 60px;
}
.nano{
	width: 100%;
	display:block;
}
.boy{
	background: url("../img/instructor_4.jpg");
	display: inline-block;
	background-size: cover;
	height:400px;
	}
.girl{
	background: url("../img/profesor_9.jpg");
	background-size: cover;
	display: inline-block;
	float: right;
	height:400px;
}
.large{
	position: absolute;
	left: 541px;
	top: 1246px;
}
/*mapa*/

.row{
	margin: 0%;
}
.blue_mapa{
	background: #10224D;
	color: white;
}
.font-15{
	font-size: 15px;
}
.espacio_pd {
	padding: 5%;
}
/*formulario*/
.formulario{
	background: url(../img/shoes_1.jpg) right no-repeat;
}
.blue{
	background: #10224D;
	color: white;
}
#enviar{
	padding: 2% 18%;
	margin: 2% 0%;
}
#enviar:hover{
	background:white;
	color:#10224D;
	font-size:18px;
	font-family: "Neoteric-Bold";
}
#contact{
	margin: 5% 0%;
	font-family: sans-serif;
}
form > p{
	margin: 2% 0%;
}

input{
	border:none;
}
.cuad_form{
	border: 1px solid #192F77;
	width: 40%;
}

.inf{
	border: 1px solid #192F77;
	width: 40%;
}
textarea{
	border:none;
	margin-left: 5%;
    margin-top: -5%;
}

/*formulario*/
footer{
	padding: 2% 0% 1%;
}