/*
*{
	outline:1px solid rgba(255,0,0,0.3);
}*/
/*menu*/
a{
	text-decoration: none;
}
.margin{
	height: 108px;
	width: 100%;
	background-color: #F5F5F5;
}
.header{
	position: fixed;
	text-align: center;
	width: 100%;
	background-color:#F5F5F5;
	opacity: 0.9;
	z-index: 1000;
}
.header h1{
	text-align: center;
	margin: 10px;
}
.menu{
	text-align: center;
	padding: 0;
	margin: 10px;
}
#tit_menu{
	color: #192F77;
}
.menu li{
    display: inline-block;
}
.menu a{
	display: block;
	padding: 10px 20px;
	color:#939696;
	text-transform: uppercase;
}
.menu a:hover{
	transform: scale(1.2);
	background: url(../img/border.jpg) top;
	background-size: 100% 100%;
	text-decoration: none;
}
.text_prof{
	font-family: "LatoHeavy"
	font-size: 13px;
}

/*menu*/
.row{
	margin: 0%;
}
hr{
	margin: 6% 0%;
}
img{
	width: 100%
}

.nosotros{
	background-image: url(../img/dance_7.jpg);

}
.sobre_nos{
	width: 35%;
	height: 40%;
	margin: 18% 36% 5%;
	background: rgba(101, 87, 76, 0.6)}

.text_nos{
	color: white;
	text-align: center;
	margin: 2% 2% 7%;
}
.pilar{
	background-image: url(../img/tile2.png);
	
}
.marg_pilar{
	margin: 6% 0%;
	text-align: center;
}
.fot_inst{
	width: 220px;
	height: 176px;
	overflow: hidden;}
.titulos{
	margin: 0% 0% 7%;
	text-align: center;
}
.espacio{
	margin:7% 0%;
}
#frase{
	margin: 5% 0%;
	font-size: 25px;
	text-align: center;
	font-family: "LatoHeavy";
}

/*formulario*/
.formulario{
	background: url(../img/shoes_1.jpg) right no-repeat;
}
.blue{
	background: #10224D;
	color: white;
}
#enviar{
	padding: 2% 18%;
	margin: 2% 0%;
}
#enviar:hover{
	background:white;
	color:#10224D;
	font-size:18px;
	font-family: "Neoteric-Bold";
}
#contact{
	margin: 5% 0%;
	font-family: sans-serif;
}
form > p{
	margin: 2% 0%;
}

input{
	border:none;
}
.cuad_form{
	border: 1px solid #10224D;
	width: 40%;
}

.inf{
	border: 1px solid #10224D;
	width: 40%;
}
textarea{
	border:none;
	margin-left: 5%;
    margin-top: -5%;
}

/*formulario*/
footer{
	padding: 2% 0% 1%;
}